pandas
numpy
scipy
sktime
darts
joblib
scikit-learn
statsmodels
python-dateutil
tqdm
matplotlib
pytz
pathlib
uvicorn[standard]
fastapi
pydantic
python-multipart  # para subir CSV por HTTP
